
#chart{"data-data": "#{@data}"}

%section#chart.card.card-large
  #chart-menu.flex.flex-space-between.flex-wrap.d-none
    #company-chart-days.options
      %button{:name => "days", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => "30"}
        1m
      %button{:name => "days", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => "180"}
        6m
      %button.active{:name => "days", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => "365"}
        1Yr
      %button{:name => "days", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => "1095"}
        3Yr
      %button{:name => "days", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => "1825"}
        5Yr
      %button{:name => "days", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => "3652"}
        10Yr
      %button{:name => "days", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => "10000"}
        Max
    .flex.margin-bottom-24
      #company-chart-metrics.options.margin-right-8{:style => "margin-bottom: 0"}
        %button.active{:name => "metrics", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => "Price-DMA50-DMA200-Volume"}
          Price
        %button{:name => "metrics", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => "Price to Earning-Median PE-EPS"}
          PE Ratio
        %button#company-chart-metrics-more-active.hidden{:name => "metrics", :onclick => "CompanyChart.setActive(event)", :type => "button", :value => ""}
          Hidden
        #metrics-dropdown.dropdown-menu{"data-has-escape-listener" => "true", "data-has-outside-click-listener" => "true"}
          %button.button-plain{:onclick => "Utils.toggleDropdown(event)", :type => "button"}
            More
            %i.icon-down
          %ul.dropdown-content{:style => "max-width: 160px; right: 0;"}
            %li
              %button.a.u-full-width{:name => "metrics", :onclick => "CompanyChart.setActive(event)", :style => "padding: 4px 12px;", :type => "button", :value => "GPM-OPM-NPM-Quarter Sales"}
                Sales & Margin
            %li
              %button.a.u-full-width{:name => "metrics", :onclick => "CompanyChart.setActive(event)", :style => "padding: 4px 12px;", :type => "button", :value => "EV Multiple-Median EV Multiple-EBITDA"}
                EV / EBITDA
            %li
              %button.a.u-full-width{:name => "metrics", :onclick => "CompanyChart.setActive(event)", :style => "padding: 4px 12px;", :type => "button", :value => "Price to book value-Median PBV-Book value"}
                Price to Book
            %li
              %button.a.u-full-width{:name => "metrics", :onclick => "CompanyChart.setActive(event)", :style => "padding: 4px 12px;", :type => "button", :value => "Market Cap to Sales-Median Market Cap to Sales-Sales"}
                Market Cap / Sales
      %button.button-small.button-secondary.flex.flex-align-center{"aria-label" => "Add alerts for company", "data-title" => "Alerts for Pix Transmission Ltd", "data-url" => "/alerts/stock-6598014/", :onclick => "Modal.openInModal(event)", :style => "border-color: var(--button-border); border-radius: 3px;", :type => "button"}
        %i.icon-bell
  .flex.no-select
    .hide-on-mobile.chart-label
      #chart-label-left Volume
    #chart-area
      #chart-info.invisible
        #chart-crosshair
        #chart-tooltip.font-size-14
          #chart-tooltip-meta.ink-700.font-size-12
          #chart-tooltip-title.font-weight-500.font-size-15
          #chart-tooltip-info
            %span.ink-700
      #canvas-chart-holder{:style => "height: 375px;"}
        %canvas{style: "height: 0px; width: 1284.5px;"}
    .hide-on-mobile.chart-label
      #chart-label-right Price on BSE
  #chart-legend.flex
    %label
      %input.chart-checkbox{:style => "background: rgb(100, 93, 249);", :type => "checkbox"}/
      %span Price on BSE
    %label
      %input.chart-checkbox{:style => "background: rgb(242, 186, 90);", :type => "checkbox"}/
      %span 50 DMA
    %label
      %input.chart-checkbox
    %label
      %input.chart-checkbox{:style => "background: rgb(190, 211, 253);", :type => "checkbox"}/
      %span Volume
