-# %section.card.card-large
-#   %canvas#myChart{"data-data" => "#{@data_values}", "data-labels" => "#{@data_keys}", :height => "50px", :width => "200px"}

#chart{"data-data": "#{@data}"}

= render partial: 'chart_screener', locals: {data: data}


  -# #canvas-chart-holder{:style => "height: 375px;"}
  -#   #chart-info.invisible
  -#     #chart-crosshair
  -#     #chart-tooltip.font-size-14
  -#       #chart-tooltip-meta.ink-700.font-size-12
  -#       #chart-tooltip-title.font-weight-500.font-size-15
  -#       #chart-tooltip-info
  -#         %span.ink-700
  -#   %canvas#my-canvas{:height => "750", :style => "display: block; box-sizing: border-box; height: 375px"}
