%section.card.card-large
  %h3
    =heading

  .table-responsive.table-wrapper
    %table.table.table-hover.fd-table
      %thead.table-light
        %tr
          %th
          - data.each do |balance_sheet|
            %th
              =balance_sheet.fiscal_period
      %tbody
      - financial_data_to_table(data, structure, options).each_with_index do |row, row_index|
        -k = row[1][:key]
        %tr{class: table_row_class(structure[k])}
          -row.each_with_index do |hash, index|
            -if index == 0
              %td.truncate
                =hash[:formatted_value]
                %canvas#canvas-small{style: "height: 0px; width: 14.5px;"}
                
            -else
              %td{class: hash[:class], title: hash[:tooltip], 'data-toggle': 'tooltip', 'data-controller': "tooltip"}
                =hash[:formatted_value]
