
/* Replace the url below with your own if needed. */
@import url('https://fonts.googleapis.com/css2?family=Fjalla%20One:wght@400;500;700;900&display=swap');

/* Make sure to also replace the font family as well, if needed. */
:root {
  font-family: 'Fajalla One', sans-serif;
  word-wrap: break-word;
  // overflow-x: hidden;
  letter-spacing: -0.5px;
}

body {
  font-family: 'Fajalla One', sans-serif;
  word-wrap: break-word;
  // overflow-x: hidden;
  letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fajalla One', sans-serif;
  word-wrap: break-word;
  // overflow-x: hidden;
  letter-spacing: -0.5px;
}
