%h1
  = title "Find Best Deals, Coupons & Promo Codes by Store or Brand in Canada"

- if is_admin?  
  = link_to 'New Store', new_store_path
.container
  .row.row-cols-2.row-cols-sm-3.row-cols-md-6.g-3
    -@stores.each do |store|
      .col
        .card.h-100.text-center.store-card
          =link_to store_path(store) do
            -if store.image.attached?
              =resource_image(store.image, class: 'card-img-top img-fluid store-image')
            
            .card-body
              %h5.card-title= store.name
