.social-share-wrapper
  .social-share

    =link_to social_handles[:whatsapp], target: '_blank' do
      %i.bi.bi-whatsapp.social-icon

    =link_to social_handles[:facebook], target: '_blank' do
      %i.bi.bi-facebook.social-icon
    
    =link_to social_handles[:instagram], target: '_blank' do
      %i.bi.bi-instagram.social-icon
    
    =link_to social_handles[:telegram], target: '_blank' do
      %i.bi.bi-telegram.social-icon
    
