%div
  -# %h1 Listing deals

  -if is_admin?
    = link_to 'New Deal', new_deal_path, class: 'btn btn-primary'

  .container
    .row.row-cols-2.row-cols-sm-1.row-cols-md-4.g-3
      - @deals.each do |deal|
        = render partial: 'deals/deal', locals: { deal: deal }
      
      = != pagy_nav(@pagy) if @pagy.pages > 1

