#header-section.container{bis_skin_checked: "1", style: "max-width: 680px"}
  .col-lg-12{bis_skin_checked: "1"}
    .mt-0{bis_skin_checked: "1"}
      =image_tag('logo.png', class: 'rounded-circle img-fluid mx-auto d-block', alt: "Profile Picture")
    .header-content.text-center.mx-auto{bis_skin_checked: "1"}
      %h4.custom-text-color-primary.header-text.mb-2.mt-3 Canadian Deals & coupons
      -# %p.custom-text-color-secondary.subheader-text.mb-2
      -#   I'm
      -#   %span.element Ven
      -#   %span.typed-cursor{"aria-hidden" => "true"} |
