#header-section.container.text-center{bis_skin_checked: "1", style: "max-width: 680px"}
  .site__header__img
    =image_tag('logo.png', class: 'site__profile-img site__profile-img--has-border rounded-circle img-fluid ', alt: "Profile Picture")
  .site__header__content
    %h4site__username Canadian Deals & coupons
