-# #footer.container{bis_skin_checked: "1"}
-#   .col-md-12{bis_skin_checked: "1"}
-#     .mb-4.text-center{bis_skin_checked: "1"}
-#       %div{bis_skin_checked: "1"}
-#         %ul.about-social.list-inline.mt-5.text-center
-#           %li.list-inline-item
-#             %a{href: "#", target: "_blank"}
-#               %i.mdi.mdi-instagram
-#           %li.list-inline-item
-#             %a{href: "#", target: "_blank"}
-#               %i.mdi.mdi-youtube-play
-#           %li.list-inline-item
-#             %a{href: "#", target: "_blank"}
-#               %i.mdi.mdi-twitter
-#           %li.list-inline-item
-#             %a{href: "#", target: "_blank"}
-#               %i.mdi.mdi-facebook
-#           %li.list-inline-item
-#             %a{href: "#", target: "_blank"}
-#               %i.mdi.mdi-email
-#       %p.custom-text-color-secondary.footer-text.mb-5.mt-3 ©2023 - Bruce Wayne
