=link_to link.url, class: 'btn site-btn site-btn--has-img site-btn--filled', style: 'width: 100%', target: '_blank' do
  %span{class: 'site-btn__img'}
    .v-ratio-box
      .v-ratio-box__inner
        - if link.image.attached?
          =resource_image(link.image, class: 'deal-image-small', alt: link.label)
  .site-btn__text
    =link.label
  -if link.deal&.price
    .deal_price
      = display_money(link.deal.price)
