-# = render partial: 'nav', locals: { }

= render partial: 'bio', locals: { }

#main-buttons.container{bis_skin_checked: "1", style: "max-width: 680px"}
  = render partial: 'link', locals: { }

:javascript
  function toggle() {
  var el = document.getElementById("style1");
  if (el.href.match("assets/css/colors/light-mode.css")) {
      el.href = "assets/css/colors/dark-mode.css";    
  }
  else {
      el.href = "assets/css/colors/light-mode.css";  
      }
  }
        
