-# = render partial: 'nav', locals: { }


#main.site__main
  .site__header.site__header--has-profile-image
    = render partial: 'bio', locals: { }

  .site-social.site-social--top
    =render partial: 'shared/social_follow'

  .search
    =link_to "Main Site", "/"
    

  .site__links
    .link-wrapper.link-wrapper--pb
      - if @pinned.any?
        .mt-3.pt-2{bis_skin_checked: "1"}
          -@pinned.each do |link|
            = render partial: 'link', locals: {link: link }

      .mt-3.pt-2{bis_skin_checked: "1"}
        -@links.each do |link|
          = render partial: 'link', locals: {link: link }

:javascript
  function toggle() {
  var el = document.getElementById("style1");
  if (el.href.match("assets/css/colors/light-mode.css")) {
      el.href = "assets/css/colors/dark-mode.css";    
  }
  else {
      el.href = "assets/css/colors/light-mode.css";  
      }
  }
        
