.pr.w-cpn-btn
  .pr
    .coupon-btn.flex.align-items{"data-id" => "0", :style => "justify-content: space-between;"}
      %a.copy-code.p10.scale-by-bit.js-clipboard{:href => "javascript:void(0);", :title => "Copy Coupon", data: {'clipboard-text': "#{coupon}"}}
        %i{class: 'bi bi-back copy-coupon'}
      %a.get_code_tag.click_coupons_code.js-clipboard{ :href => "javascript:void(0)", data: {'clipboard-text': "#{coupon}"} }
        %span#code-0.deal-code
          =coupon
