
.col
  .card.mb-1.h-100.deal-card.shadow-sm
    =link_to deal_path(deal), class: 'align-middle', title: deal.title do
      .image-container.mh-100.text-center.align-middle.d-flex.justify-content-center.align-items-center
        =resource_image(deal.image, class: ' deal-image ', alt: deal.title)
    
    .card-body
      .deal-dsp
        %h5.card-title
          =link_to deal_path(deal) do
            =display_text(deal.title, length=95)
        %h6.card-subtitle
          =link_to store_path(deal.store) do
            =resource_image(deal.store.image, class: 'img-fluid store-image', alt: deal.store_name, title: deal.store_name)

          -if deal.expired?
            %span{class: 'deal-expired float-end'}
              Expired
          -else
            %span{class: 'float-end text-muted'}
              %small
                %i{class: "bi bi-clock" }
                =time_ago(deal.created_at)
        .row
          .col-5
            .card-text.deal-price
              =display_money(deal.price) if deal.price?
            -if deal.retail_price.present?
              .original-price
                =display_money(deal.retail_price)
          -# .col
          -#   -if deal.affiliate_url.present?
          -#     =link_to 'Buy', deal.affiliate_url, class: 'btn btn-success', target: '_blank'
      -# .deal-footer
      -# -if deal.affiliate_url.present?
      -#   =link_to 'Buy', deal.affiliate_url, class: 'btn btn-success', target: '_blank'

      -# -if deal.short_slug?
      -#   %small.text-muted.float-end
      -#     = '#' + deal.short_slug
