.row
  .col-md-6.mt-4
    = f.label :meta_keywords, class: 'form-label'
    = f.text_field :meta_keywords, class: 'form-control tagsinput', 'data-role': 'tagsinput'
  .col-md-6.mt-4
    = f.label :meta_description, class: 'form-label'
    = f.text_area :meta_description, class: 'form-control', :rows => 2
