
-if is_admin?
  = link_to 'New Deal', new_deal_path
  %br

.container
  .row.row-cols-2.row-cols-sm-1.row-cols-md-4.g-3
    - @deals.each do |deal|
      = render partial: 'deal', locals: { deal: deal }

  .mt-4
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 
