
-if is_admin?
  = link_to 'New Deal', new_deal_path, class: 'btn'
  = link_to 'New Weekly Flyer Deal', new_deal_path(category: :grocery, weekly_flyer_deal: true), class: 'btn'
  %br

.container
  .row
    .col-md-9
      .row.row-cols-2.row-cols-sm-1.row-cols-md-4.g-3
        - @deals.each do |deal|
          = render partial: 'deal', locals: { deal: deal }
    .col
      =render partial: 'side_bar/side_bar', locals: {side_bar: @side_bar}

  .mt-4
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 
