.col-md-6
  .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
    .col.p-4.d-flex.flex-column.position-static
      %h3.mb-0
        =post.title
      
      .card-text.mb-auto
        =post.lead&.html_safe

      =link_to "Continue Reading", post, class: 'icon-link gap-1 icon-link-hover stretched-link'

    .col-auto.d-none.d-lg-block
      =resource_image(post.image, class: 'image image-fluid bd-placeholder-img top-post-image', alt: post.title)
