@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "structure";
@import "custom";

@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/miscellaneous";
@import "./partials/notice";

@import "./modules/alert_message";
@import "./modules/tags";

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800&display=swap");
@import "actiontext";
@import "components/buttons";

@import "library/bootstrap-tagsinput";

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import 'dropzone/dist/min/dropzone.min.css';

.font-weight-bold {
  td {
    font-weight: bold;
  }
}

.negative {
  color: var(--down);
}

.positive {
  color: var(--up);
}

.invisible {
  visibility: hidden;
}

.deal-details {
  padding: 15px 10px 10px 15px;
}


.social-share {
  float: right;
  .social-icon {
    padding-right: 5px;
    font-size: 1.2rem;
  }
}


footer{
  background-color: #333;
}

.deal-preview-img{
  max-height: 125px;
}

.dropbox-small{
  height: 60px;
  .dz-message{
    height: 60px;
  }
  .dropzone-msg-title{
    font-size: 13px;
  }
}

.deal-card{
  padding-top: 10px;
}
