@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import 'structure.scss';
@import 'custom.scss';

@import "./partials/variables.scss";
@import "./partials/mixins.scss";
@import './partials/miscellaneous.scss';
@import "./partials/notice.scss";

@import './modules/alert_message.scss';
@import 'modules/tags.scss';



 @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800&display=swap');
 @import 'actiontext';
 @import "components/buttons";
 @import "components/forms";

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

@import 'dropzone/dist/min/dropzone.min.css';

.font-weight-bold {
  td {
    font-weight: bold;
  }
}

.negative {
  color: var(--down)
}

.positive {
  color: var(--up)
}

.has-tooltip {
  position: relative;
}

.flex {
  display: -ms-flexbox;
  display: flex;
}

.has-tooltip:hover .tooltip {
  display: block;
  pointer-events: initial;
}

.tooltip {
  display: none;
  pointer-events: none;

  background-color: var(--ink-900);
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.32);
  transition: all 0.15s ease;

  font-weight: normal;
  font-size: 0.9em;
  text-align: center;
  color: var(--base);

  /* Position */
  bottom: 100%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -8px);

  z-index: 1;
}

.invisible {
  visibility: hidden;
}

chart-label {
  color: #8c8c8c;
  font-size: 1.3rem;
  letter-spacing: var(--letter-spacing-13);
  line-height: 1;
  width: 14px;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

/* Chart Area */

#chart-area {
  position: relative;
  top: 0;
  left: 0;
}

#chart-crosshair {
  position: absolute;
  width: 1px;
  height: 315px;
  background: var(--ink-900);
  opacity: 0.2;
  pointer-events: none;
}

#chart-tooltip {
  position: absolute;
  background-color: var(--base);
  padding: 8px 14px;
  top: 10px;
  left: 45px;
  pointer-events: none;

  border: 1.5px solid var(--border-color);
  box-shadow: 0 7px 5px -8px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}

.chart-label {
  color: #8c8c8c;
  font-size: 1.3rem;
  letter-spacing: var(--letter-spacing-13);
  line-height: 1;
  width: 14px;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

#chart-label-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

#chart-label-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

#chart-legend {
  text-align: center;
}

#chart-legend button {
  font-size: 1.4rem;
  letter-spacing: var(--letter-spacing-14);
  margin-right: 1em;
}

#chart-legend button.inactive {
  text-decoration: line-through;
}

.chart-legend-indicator {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}

.chart-legend-indicator.bar {
  border-radius: 1px;
  height: 14px;
  width: 7px;
}

.chart-legend-indicator.line {
  width: 25px;
  height: 0;
  border: 1px solid;
}

.chart-legend-indicator.line.dashed {
  border-style: dashed;
}

/* Options and active */
.options {
  margin-bottom: 24px;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: 1px solid var(--button-border);
  border-radius: 3px;

  background: var(--base);
}

.options a,
.options button {
  padding: 8px 12px;
  border: 0;

  border-radius: unset;
  color: var(--ink-700);
  font-size: 1.4rem;
  letter-spacing: 0.088px;
  font-weight: 500;
  text-transform: none;
}

.options>*:first-child {
  border-radius: 3px 0 0 3px;
}

.options>*:last-child {
  border-radius: 0 3px 3px 0;
}

.options a:hover,
.options button:hover {
  color: var(--link-hover);
}

@media (min-width: 768px) {

  .options a,
  .options button {
    padding: 8px 16px;
  }
}

.options a.active,
.options button.active {
  color: var(--link);
  background: var(--bg-light-blue);
  border-color: var(--bg-light-blue-border);
  outline: none;
}

.options.small a,
.options.small button {
  padding: 6px 12px;
  font-size: 1.2rem;
}

/* Breadcrumb */
.breadcrumb:empty {
  display: none;
}

.breadcrumb ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.088px;
  text-transform: none;
  color: var(--ink-700);
}

.breadcrumb ul li {
  padding: 0;
  margin: 0;
}

.breadcrumb ul li+li::before {
  content: "/";
  color: var(--ink-600);
  margin: 0 12px;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.underline-link {
  border-bottom: 1px dotted;
  border-bottom-color: currentColor;
}

/* Hidden checkbox */
/* Hide checkbox and reset styles */
.chart-checkbox {
  /* removes the square box */
  -webkit-appearance: initial;
  -moz-appearance: initial;
  appearance: initial;
  outline: 0;
  width: 18px;
  height: 18px;
  z-index: 1;
  margin-right: 8px;
  border-radius: 3px;
  color: var(--white);
}

.chart-checkbox~span {
  color: var(--ink-700);
}

.chart-checkbox::after {
  content: " ";
  display: block;
  font-size: 15px;
  line-height: 16px;
  text-indent: 1px;
  background: var(--base);
  border: 1px solid var(--ink-700);
  border-radius: 3px;
}

.chart-checkbox:checked::after {
  content: "✓";
  background: transparent;
  border-color: transparent;
}



// END OF CHART
// 

.sticky {
  position: sticky;
  overflow-wrap: break-word;
  max-width: 230px;
  font-size: .9em;
}


.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
