.social-follow{
   .social-icon {
    padding-right: 5px;
    font-size: 1.8rem;
  }
}
.social-icon {
    padding-right: 5px;
  }

  .bi-whatsapp {
    color: #1cbea5;
  }

  .bi-instagram {
    color: red;
  }

  .bi-facebook {
    color: #4267b2;
  }

  .bi-telegram {
    color: #4267b2;
  }

  .bi-twitter {
    color: #55acee;
  }

  .bi-google,
  .bi-pinterest {
    color: #db081c;
  }

  .bi-youtube {
    color: red;
  }

  .bi-telegram {
    color: #1976d2;
  }

  .bi-pinterest,
  bi-.google-plus {
    color: #dd4b39;
  }
