.col
  .card.h-100.text-center.store-card
    =link_to category do
      -if category.image.attached?
        =resource_image(category.image, class: 'card-img-top img-fluid store-image')
      
      .card-body
        %h5.card-title= category.name
