.row
  .col-auto
    %h4
      = title "Find Best Deals, Coupons & Promo Codes by Store or Brand in Canada"
  .col
    - if is_admin?
      .d-inline
        = link_to 'New Category', new_category_path
  .container
    %h5.mt-4 Categories
    .row.row-cols-2.row-cols-sm-3.row-cols-md-6.g-3
      = render @categories

      
