= render partial: 'side_bar/top_deals', locals: {deals: side_bar.top_deals}

.mt-4
= render partial: 'side_bar/top_stores', locals: {stores: side_bar.top_stores}

.mt-4 
= render partial: 'side_bar/top_referrals', locals: {stores: side_bar.top_referral}
