.flex.flex-column{:style => "max-width: 650px; margin: 96px auto; min-height: 60vh; text-align: center; justify-content: center; padding: 16px;"}
  %h1{:style => "margin-bottom: 0"}
   
  %p.bigger
    Deals.
  %div{:style => "margin-top: 3%"}
    .home-search{:style => "margin-bottom:1.5rem"}

