- if notice
  = render partial: 'shared/alert', locals: {type: :warning, msg: notice}

- if alert
  = render partial: 'shared/alert', locals: {type: :danger, msg: alert}

- if flash[:sucess]
  = render partial: 'shared/alert', locals: {type: :sucess, msg: flash[:sucess]}

- if flash[:error]
  = render partial: 'shared/alert', locals: {type: :danger, msg: flash[:error]}
  


