%footer.mt-auto.text-white-50
  %p
    All data and information is provided “as is” for informational purposes only

    = succeed "," do
      %a.text-white{:href => ""} Bootstrap
    = succeed "." do
      %a.text-white{:href => ""} @mdo

