%footer.mt-auto.text-white-50
  %p
    Cover template for
    = succeed "," do
      %a.text-white{:href => "https://getbootstrap.com/"} Bootstrap
    = succeed "." do
      %a.text-white{:href => "https://twitter.com/mdo"} @mdo

